* {box-sizing: border-box;}

html { height: 100%;}
body {height: 100%; margin: 0px;}

.bodyContainer {
	width: 100%;
	height: 100%;
	font:18px arial, helvetica;
	padding: 8px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select:none;
}

.timeCircle {
	font-size: 14px;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #dddddd;
	background-color: #f6f6f6;
	width: 38px;
	height: 38px;
	color: #6e6e6e;
	cursor: default;
	margin:4px;
	float: right;
}

.titleBlock {
	//height: 50px;
	font-size: 150%;
	font-weight: bold;
	border-bottom: 2px solid #aaa;
	padding: 5px;
	text-align: center;
	//line-height: 50px;
}

.exitBtn {
	float: left;
	border: 2px solid #8fade2;
	line-height: normal;
	margin-top: 12px;
	padding: 3px 10px;
	color: #fff;
	background-color: #34658b;
	border-radius: 15px;
	cursor: context-menu;
}

.selectionBlock {
	text-align: center;
	margin: 30px auto 10px;
}

.optionBtn {
	padding: 10px;
	border: 1px solid #9c9c9c;
	border-radius: 70px;
	margin: 8px auto;
	width: 60%;
	background-color: #F2F2F2;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.optionBtn a{
	color: black;
	text-decoration: initial;
}

.optionBtn:hover, .optionBtn:active{
	border-width: 2px;
	background-color: #DADADA;
	cursor: pointer;
}

.optionBtn:hover a, .optionBtn:active a{
	font-weight: bold;
}

